* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(pictures/shopping2.jpg) no-repeat center / cover;
}
.creatingbox h3{
font-size: 22px;
    text-align: center;
    color: rgb(255, 0, 0);
  }

.logo {
  order: 1;
  display: flex;
  align-items: center;
  align-content: center;
}

.logo img {
  width: 50%;
  height: auto;
  max-width: 100%; 
  align-content: center;
  align-items: center;
}

.logo a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.creatingbox {
  width: 500px;
  height: 550px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px;
  color: #000000;
  padding: 1%;
  border-radius: 20px;
}

.creatingbox h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 0;
}

.creatingbox p {
  font-size: 15px;
  text-align: center;
  margin-bottom: 5px;
}

.name {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.creatingbox input::placeholder {
  color: #000000;
}

.name input {
  background-color: transparent;
  font-size: 20px;
  font-weight: 600;
  border: 2px solid rgba(0, 0, 0, 0.2);
  outline: none;
  color: #000000;
  border-radius: 20px;
  text-align: center;
  position: relative;
  width: 50%;
  height: 100%;
}

.other input {
  font-weight: 600;
  text-align: center;
  border: 2px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 50px;
  margin: 10px 0;
  border-radius: 40px;
  background-color: transparent;
  outline: none;
  color: #000000;
  font-size: 20px;
}

.creatingbox .createbutton {
  width: 49%;
  height: 30px;
  background-color: #ffffff;
  border: none;
  border-radius: 40px;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 15px 0;
  font-size: 16px;
  cursor: pointer;
  color: #333;
  font-weight: 600;
}
